<openbox_menu xmlns="http://openbox.org/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://openbox.org/
                file:///usr/share/openbox/menu.xsd">

<menu id="root-menu" label="Thorn Linux">
  <item label="Terminal emulator">
    <action name="Execute"><execute>terminator</execute></action>
  </item>
  <item label="File Manager">
    <action name="Execute"><execute>thunar</execute></action>
  </item>
  <item label="Web browser">
    <action name="Execute"><execute>chromium</execute></action>
  </item>
  <item label="Text Editor">
    <action name="Execute"><execute>geany</execute></action>
  </item>
  <item label="Media Player">
    <action name="Execute"><execute>vlc</execute></action>
  </item>
  <separator />
    <menu id="penetration-testing" label="Penetration Testing">
      <menu id="information-gathering" label="Information Gathering">
        <item label="DMitry">
          <action name="Execute">
            <command>
              terminator -e 'dmitry; bash -l'
            </command>
          </action>
        </item>
        <menu id="dnmap" label="dnmap">
          <item label="dnmap_client">
            <action name="Execute">
              <command>
                terminator -e 'dnmap_client; bash -l'
              </command>
            </action>
          </item>
          <item label="dnmap_server">
            <action name="Execute">
              <command>
                terminator -e 'dnmap_server; bash -l'
              </command>
            </action>
          </item>
        </menu>
        <item label="ike-scan">
          <action name="Execute">
            <command>
              terminator -e 'sudo ike-scan --help; bash -l'
            </command>
          </action>
        </item>
        <item label="Maltego Teeth">
          <action name="Execute">
            <command>
              maltegoce
            </command>
          </action>
        </item>
        <item label="netdiscover">
          <action name="Execute">
            <command>
              terminator -e 'sudo netdiscover -h; bash -l'
            </command>
          </action>
        </item>
        <item label="Nmap">
          <action name="Execute">
            <command>
              terminator -e 'nmap -h; bash -l'
            </command>
          </action>
        </item>
        <item label="p0f">
          <action name="Execute">
            <command>
              terminator -e 'p0f -h; bash -l'
            </command>
          </action>
        </item>
        <item label="recon-ng">
          <action name="Execute">
            <command>
              terminator -e 'recon-ng; bash -l'
            </command>
          </action>
        </item>
        <item label="sparta">
          <action name="Execute">
            <command>
              sparta
            </command>
          </action>
        </item>
        <item label="zenmap">
          <action name="Execute">
            <command>
              terminator -e 'sudo zenmap; bash -l'
            </command>
          </action>
        </item>
        <menu id="dns_analysis" label="DNS Analysis">
          <item label="dnsenum">
            <action name="Execute">
              <command>
                terminator -e 'dnsenum; bash -l'
              </command>
            </action>
          </item>
          <item label="dnsmap">
            <action name="Execute">
              <command>
                terminator -e 'dnsmap; bash -l'
              </command>
            </action>
          </item  >
          <item label="dnsrecon">
            <action name="Execute">
              <command>
                terminator -e 'dnsrecon; bash -l'
              </command>
            </action>
          </item>
          <item label="dnstracer">
            <action name="Execute">
              <command>
                terminator -e 'dnstracer; bash -l'
              </command>
            </action>
          </item>
          <item label="dnswalk">
            <action name="Execute">
              <command>
                terminator -e 'dnswalk; bash -l'
              </command>
            </action>
          </item>
          <item label="Fierce">
            <action name="Execute">
              <command>
                terminator -e 'fierce -h; bash -l'
              </command>
            </action>
          </item>
          <item label="URLCrazy">
            <action name="Execute">
              <command>
                terminator -e 'urlcrazy; bash -l'
              </command>
            </action>
          </item>
        </menu>
        <menu id="ids_ips_identification" label="IDS/IPS Identification">
          <item label="fragroute">
            <action name="Execute">
              <command>
                terminator -e 'fragroute; bash -l'
              </command>
            </action>
          </item>
          <item label="fragrouter">
            <action name="Execute">
              <command>
                terminator -e 'fragrouter; bash -l'
              </command>
            </action>
          </item>
          <item label="ftest">
            <action name="Execute">
              <command>
                terminator -e 'ftest; bash -l'
              </command>
            </action>
          </item>
          <item label="wafw00f">
            <action name="Execute">
              <command>
                terminator -e 'wafw00f -h; bash -l'
              </command>
            </action>
          </item>
        </menu>
        <menu id="live_host_identification" label="Live Host Identification">
          <item label="arping">
            <action name="Execute">
              <command>
                terminator -e 'arping; bash -l'
              </command>
            </action>
          </item>
          <item label="CDPsnarf">
            <action name="Execute">
              <command>
                terminator -e 'cdpsnarf; bash -l'
              </command>
            </action>
          </item>
          <item label="fping">
            <action name="Execute">
              <command>
                terminator -e 'fping -h; bash -l'
              </command>
            </action>
          </item>
          <item label="hping3">
            <action name="Execute">
              <command>
                terminator -e 'hping3 -h; bash -l'
              </command>
            </action>
          </item>
          <item label="masscan">
            <action name="Execute">
              <command>
                terminator -e 'masscan --help; bash -l'
              </command>
            </action>
          </item>
          <item label="Miranda">
            <action name="Execute">
              <command>
                terminator -e 'miranda -h; bash -l'
              </command>
            </action>
          </item>
          <item label="ncat">
            <action name="Execute">
              <command>
                terminator -e 'ncat -h; bash -l'
              </command>
            </action>
          </item>
          <item label="unicornscan">
            <action name="Execute">
              <command>
                terminator -e 'unicornscan -h; bash -l'
              </command>
            </action>
          </item>
          <item label="WOL-E">
            <action name="Execute">
              <command>
                terminator -e 'wol-e -h; bash -l'
              </command>
            </action>
          </item>
          <item label="xprobe">
            <action name="Execute">
              <command>
                terminator -e 'xprobe2; bash -l'
              </command>
            </action>
          </item>
        </menu>
        <menu id="network_and_port_scanners" label="Network And Port Scanners">
          <item label="Amap">
            <action name="Execute">
              <command>
                terminator -e 'amap; bash -l'
              </command>
            </action>
          </item>
          <item label="Amap6">
            <action name="Execute">
              <command>
                terminator -e 'amap6; bash -l'
              </command>
            </action>
          </item>
          <item label="cisco-torch">
            <action name="Execute">
              <command>
                terminator -e 'cisco-torch; bash -l'
              </command>
            </action>
          </item>
          <item label="DMitry">
            <action name="Execute">
              <command>
                terminator -e 'dmitry; bash -l'
              </command>
            </action>
          </item>
          <menu id="dnmap" label="dnmap">
            <item label="dnmap_client">
              <action name="Execute">
                <command>
                  terminator -e 'dnmap_client; bash -l'
                </command>
              </action>
            </item>
            <item label="dnmap_server">
              <action name="Execute">
                <command>
                  terminator -e 'dnmap_server; bash -l'
                </command>
              </action>
            </item>
          </menu>
          <item label="masscan">
            <action name="Execute">
              <command>
                terminator -e 'masscan --help; bash -l'
              </command>
            </action>
          </item>
          <item label="Nmap">
            <action name="Execute">
              <command>
                terminator -e 'nmap -h; bash -l'
              </command>
            </action>
          </item>
          <item label="unicornscan">
            <action name="Execute">
              <command>
                terminator -e 'unicornscan -h; bash -l'
              </command>
            </action>
          </item>
          <item label="WireShark">
            <action name="Execute">
              <command>
                wireshark
              </command>
            </action>
          </item>
          <item label="zenmap">
            <action name="Execute">
              <command>
                terminator -e 'sudo zenmap; bash -l'
              </command>
            </action>
          </item>
        </menu>
        <menu id="osint_analysis" label="OSINT Analysis">
          <item label="automater">
            <action name="Execute">
              <command>
                terminator -e 'automater --help; bash -l'
              </command>
            </action>
          </item>
          <item label="CaseFile">
            <action name="Execute">
              <command>
                casefile
              </command>
            </action>
          </item>
          <item label="Maltego Teeth">
            <action name="Execute">
              <command>
                maltegoce
              </command>
            </action>
          </item>
          <item label="twofi">
            <action name="Execute">
              <command>
                terminator -e 'twofi; bash -l'
              </command>
            </action>
          </item>
          <item label="URLCrazy">
            <action name="Execute">
              <command>
                terminator -e 'urlcrazy; bash -l'
              </command>
            </action>
          </item>
        </menu>
        <menu id="route_analysis" label="Route Analysis">
          <item label="0trace">
            <action name="Execute">
              <command>
                terminator -e '0trace.sh; bash -l'
              </command>
            </action>
          </item>
          <item label="intrace">
            <action name="Execute">
              <command>
                terminator -e 'intrace; bash -l'
              </command>
            </action>
          </item>
          <item label="irpass-ass">
            <action name="Execute">
              <command>
                terminator -e 'ass; bash -l'
              </command>
            </action>
          </item>
          <item label="irpass-cdp">
            <action name="Execute">
              <command>
                terminator -e 'cdp; bash -l'
              </command>
            </action>
          </item>
          <item label="netdiscover">
            <action name="Execute">
              <command>
                terminator -e 'sudo netdiscover -h; bash -l'
              </command>
            </action>
          </item>
          <item label="netmask">
            <action name="Execute">
              <command>
                terminator -e 'netmask --help; bash -l'
              </command>
            </action>
          </item>
        </menu>
        <menu id="smb_analysis" label="SMB Analysis">
          <item label="acccheck">
            <action name="Execute">
              <command>
                terminator -e 'acccheck; bash -l'
              </command>
            </action>
          </item>
          <item label="enum4linux">
            <action name="Execute">
              <command>
                terminator -e 'enum4linux; bash -l'
              </command>
            </action>
          </item>
          <item label="nbtscan">
            <action name="Execute">
              <command>
                terminator -e 'nbtscan; bash -l'
              </command>
            </action>
          </item>
          <item label="smbmap">
            <action name="Execute">
              <command>
                terminator -e 'smbmap; bash -l'
              </command>
            </action>
          </item>
        </menu>
        <menu id="smtp_analysis" label="SMTP Analysis">
          <item label="iSMTP">
            <action name="Execute">
              <command>
                terminator -e 'ismtp; bash -l'
              </command>
            </action>
          </item>
          <item label="smtp-user-enum">
            <action name="Execute">
              <command>
                terminator -e 'smtp-user-enum; bash -l'
              </command>
            </action>
          </item>
          <item label="swaks">
            <action name="Execute">
              <command>
                terminator -e 'swaks --help; bash -l'
              </command>
            </action>
          </item>
        </menu>
        <menu id="snmp_analysis" label="SNMP Analysis">
          <item label="braa">
            <action name="Execute">
              <command>
                terminator -e 'braa; bash -l'
              </command>
            </action>
          </item>
          <item label="onesixtyone">
            <action name="Execute">
              <command>
                terminator -e 'onesixtyone; bash -l'
              </command>
            </action>
          </item>
          <item label="snmpcheck">
            <action name="Execute">
              <command>
                terminator -e 'snmp-check; bash -l'
              </command>
            </action>
          </item>
        </menu>
        <menu id="ssl_analysis" label="SSL Analysis">
          <item label="sslcaudit">
            <action name="Execute">
              <command>
                terminator -e 'sslcaudit -h; bash -l'
              </command>
            </action>
          </item>
          <item label="ssldump">
            <action name="Execute">
              <command>
                terminator -e 'ssldump -h; bash -l'
              </command>
            </action>
          </item>
          <item label="sslh">
            <action name="Execute">
              <command>
                terminator -e 'sslh -h; bash -l'
              </command>
            </action>
          </item>
          <item label="sslscan">
            <action name="Execute">
              <command>
                terminator -e 'sslscan; bash -l'
              </command>
            </action>
          </item>
          <item label="sslsplit">
            <action name="Execute">
              <command>
                terminator -e 'sslsplit -h; bash -l'
              </command>
            </action>
          </item>
          <item label="sslyze">
            <action name="Execute">
              <command>
                terminator -e 'sslyze -h; bash -l'
              </command>
            </action>
          </item>
          <item label="tlssled">
            <action name="Execute">
              <command>
                terminator -e 'tlssled; bash -l'
              </command>
            </action>
          </item>
        </menu>
        <menu id="miscellaneous" label="Miscellaneous">
          <item label="ace-voip">
            <action name="Execute">
              <command>
                terminator -e 'ace; bash -l'
              </command>
            </action>
          </item>
          <item label="Cookie Cadger">
            <action name="Execute">
              <command>
                terminator -e 'sudo cookie-cadger; bash -l'
              </command>
            </action>
          </item>
          <item label="copy-router-config">
            <action name="Execute">
              <command>
                terminator -e 'copy-router-config.pl; bash -l'
              </command>
            </action>
          </item>
          <item label="DotDotPwn">
            <action name="Execute">
              <command>
                terminator -e 'dotdotpwn.pl; bash -l'
              </command>
            </action>
          </item>
          <item label="enumIAX">
            <action name="Execute">
              <command>
                terminator -e 'enumiax; bash -l'
              </command>
            </action>
          </item>
          <item label="exploitdb">
            <action name="Execute">
              <command>
                terminator -e 'searchsploit; bash -l'
              </command>
            </action>
          </item>
          <item label="Firewalk">
            <action name="Execute">
              <command>
                terminator -e 'firewalk; bash -l'
              </command>
            </action>
          </item>
          <item label="Ghost Phisher">
            <action name="Execute">
              <command>
                terminator -e 'sudo ghost-phisher; bash -l'
              </command>
            </action>
          </item>
          <item label="GoLismero">
            <action name="Execute">
              <command>
                terminator -e 'golismero; bash -l'
              </command>
            </action>
          </item>
          <item label="goofile">
            <action name="Execute">
              <command>
                terminator -e 'goofile; bash -l'
              </command>
            </action>
          </item>
          <item label="lbd">
            <action name="Execute">
              <command>
                terminator -e 'lbd; bash -l'
              </command>
            </action>
          </item>
          <item label="Metagoofil">
            <action name="Execute">
              <command>
                terminator -e 'metagoofil; bash -l'
              </command>
            </action>
          </item>
          <item label="ntop">
            <action name="Execute">
              <command>
                terminator -e 'ntop -h; bash -l'
              </command>
            </action>
          </item>
          <item label="p0f">
            <action name="Execute">
              <command>
                terminator -e 'p0f -h; bash -l'
              </command>
            </action>
          </item>
          <item label="Parsero">
            <action name="Execute">
              <command>
                terminator -e 'parsero; bash -l'
              </command>
            </action>
          </item>
          <item label="recon-ng">
            <action name="Execute">
              <command>
                terminator -e 'recon-ng; bash -l'
              </command>
            </action>
          </item>
          <item label="SET">
            <action name="Execute">
              <command>
                terminator -e 'sudo setoolkit; bash -l'
              </command>
            </action>
          </item>
          <item label="thc-ipv6">
            <action name="Execute">
              <command>
                terminator -e 'man thc-ipv6; bash -l'
              </command>
            </action>
          </item>
          <item label="TheHarvester">
            <action name="Execute">
              <command>
                terminator -e 'theharvester; bash -l'
              </command>
            </action>
          </item>
          <item label="Xplico">
            <action name="Execute">
              <command>
                terminator -e 'xplico -h; bash -l'
              </command>
            </action>
          </item>
        </menu>
      </menu>
    </menu>
  <separator />
    <menu id="accessories" label="Accessories">
      <item label="Galculator">
        <action name="Execute"><execute>galculator</execute></action>
      </item>
      <item label="Leafpad">
        <action name="Execute"><execute>leafpad</execute></action>
      </item>
    </menu>
    <menu id="graphics" label="Graphics">
      <item label="Eye of GNOME">
        <action name="Execute"><execute>eog</execute></action>
      </item>
      <item label="Gimp">
        <action name="Execute"><execute>gimp</execute></actoin>
      </item>
    </menu>
    <menu id="multimedia" label="Multimedia">
      <item label="Audacity">
        <action name="Execute"><execute>audacity</execute></action>
      </item>
      <item label="Guitarix">
        <action name="Execute"><execute>guitarix</execute></action>
      </item>
      <item label="Mixxx">
        <action name="Execute"><execute>mixxx</execute></action>
      </item>
      <item label="Pithos">
        <action name="Execute"><execute>pithos</execute></action>
      </item>
      <item label="VLC">
        <action name="Execute"><execute>vlc</execute></action>
      </item>
    </menu>
    <menu id="network" label="Network">
      <item label="Filezilla">
        <action name="Execute"><execute>filezilla</execute></action>
      </item>
      <item label="Chromium">
        <action name="Execute"><execute>chromium</execute></action>
      </item>
      <item label="Hexchat">
        <action name="Execute"><execute>hexchat</execute></action>
      </item>
      <item label="IceDove">
        <action name="Execute"><execute>icedove</execute></action>
      </item>
      <item label="Transmission">
        <action name="Execute"><execute>transmission-gtk</execute></action>
      </item>
    </menu>
  <separator />
  <menu id="client-list-menu" />
  <separator />
  <item label="ObConf">
    <action name="Execute"><execute>obconf</execute></action>
  </item>
  <item label="Reconfigure">
    <action name="Reconfigure" />
  </item>
  <item label="Restart">
    <action name="Restart" />
  </item>
  <separator />
  <item label="Exit">
    <action name="Exit" />
  </item>
</menu>

</openbox_menu>
